#!/bin/sh

# Set the display resolution
# xrandr --output HDMI-0 --mode 4096x2160
# xrandr --output HDMI-0 --mode 1920x1080i

# Disable click on tap touchpad
# xinput list
#   > ⎜   ↳ ETPS/2 Elantech Touchpad                	id=11	[slave  pointer  (2)]
# xinput list-props 11
#   > libinput Tapping Enabled (282):	1
xinput set-prop 11 282 0
